body {
    font-family: 'Poppins', sans-serif;
}

.carousel-caption {
    top: 30%;
    color: white !important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

.carousel-indicators,
.carousel-caption,
.carousel-control-prev,
.carousel-control-next {
    z-index: 3;
}

/* .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;

} */

/* .carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 2;

} */
.courses-heading,
.feedback-heading,
.faq-heading,
.client-heading {
    width: 50%;
    margin: 0 auto;
}

.successul-heading {
    width: 70%;
}

.company-profile-card {
    background-color: #F4FAFD;
}

.register-now {
    background-color: #289BDE;
}

.register-button,
.register-button:hover,
.register-button:focus {
    background-color: white;
    outline: skyblue;
    color: rgb(9, 167, 230);
    padding: 10px 15px;
    font-weight: bold;
}

.register-button:hover {
    outline: rgba(27, 175, 238, 0.872);
}

.feedback-image {
    width: 96px !important;
}

.fa-star {
    color: yellow;
}

.feedback-button-left,
.feedback-button-right {
    position: relative;
    top: -47.5%;
    border: 0px;
}

.feedback-button-left {
    left: -7%;
}

.feedback-button-right {
    left: 96%;
}

.fa-circle-chevron-right,
.fa-circle-chevron-left {
    color: rgba(27, 175, 238, 0.159);
    font-size: 36px;
}

.fa-circle-chevron-right:hover,
.fa-circle-chevron-left:hover {
    color: rgb(27, 175, 238);
}

/* .feedback-card {
    margin-right: 5%;
} */

@media (max-width: 576px) {
    .carousel-caption {
        top: 0%;
    }

    .courses-heading,
    .feedback-heading,
    .faq-heading,
    .client-heading,
    .successul-heading {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {

    .courses-heading,
    .feedback-heading,
    .faq-heading,
    .client-heading {
        width: 70%;
        margin: 0 auto;
    }

    .successul-heading {
        margin: 0 auto;
    }
}